<div>
  <MainLayout.header />
  <MainLayout.headline />
  <div>
    <div class="font-sans font-bold text-blue-400">
      Destaque
    </div>
  </div>
  <MainLayout.show_course course={@featured_course} />
  <div class="mt-10">
    <div class="font-sans font-bold text-blue-400">
      Cursos
    </div>
  </div>
  <div class="mt-10">
    <div :for={course <- @courses}>
      <MainLayout.show_course course={course} />
    </div>
  </div>
</div>
